{{- $researchSection := site.GetPage "/research" -}}
{{- $currentPage := . -}}
{{- $currentSection := .CurrentSection -}}

<aside class="docs-sidebar">
  <nav>
    {{- range $researchSection.Sections.ByWeight -}}
    {{- $isCurrentTopic := or (eq . $currentPage) (eq . $currentSection) -}}
    <details class="sidebar-topic" {{ if $isCurrentTopic }}open{{ end }}>
      <summary class="sidebar-topic-title">
        {{- .Title | replaceRE ` - Deep Research$` `` -}}
      </summary>
      {{- $pages := .Pages.ByWeight -}}
      {{- if $pages -}}
      <ul class="sidebar-pages">
        {{- range $pages -}}
        <li>
          <a
            href="{{- .Permalink -}}"
            {{- if eq . $currentPage }} class="active"{{- end -}}
          >{{- .Title -}}</a>
        </li>
        {{- end -}}
      </ul>
      {{- end -}}
    </details>
    {{- end -}}
  </nav>
</aside>
