{{- define "main" -}}

<article>
  <header class="mb-14">
    <h1 class="my-0! pb-2.5">{{- .Title -}}</h1>

    {{- if .Params.date -}}
    <div class="text-xs antialiased opacity-60">
      <time>{{- .Date | time.Format ":date_medium" -}}</time>
      {{- $author := or .Params.Author site.Params.author -}}
      {{- if $author -}}
      <span class="mx-1">&middot;</span>
      <span>{{- $author -}}</span>
      {{- end -}}
    </div>
    {{- end -}}
  </header>

  <section>{{- .Content -}}</section>
</article>

{{- end -}}
