{{- define "main" -}}

<article>
  <header class="mb-14">
    <h1 class="my-0! pb-2.5">{{- .Title -}}</h1>

    <div class="text-xs antialiased opacity-60">
      {{- if .Date -}}
      <time>{{- .Date | time.Format ":date_medium" -}}</time>
      {{- end -}}
      {{- $author := or .Params.Author site.Params.author -}}
      {{- if $author -}}
      <span class="mx-1">&middot;</span>
      <span>{{- $author -}}</span>
      {{- end -}}
    </div>
  </header>

  <section>{{- .Content -}}</section>

  <!-- Post Nav within section -->
  {{- $pages := .CurrentSection.Pages.ByWeight -}}
  {{- if gt (len $pages) 1 -}}
  <nav
    style="margin-top: 4rem; display: flex; overflow: hidden; border-radius: 0.75rem; font-size: 1.1rem; line-height: 1.2;"
  >
    {{- with $pages.Prev . -}}
    <a
      style="display: flex; align-items: center; padding: 1.25rem; text-decoration: none; flex: 1;"
      href="{{- .Permalink -}}"
    ><span style="margin-right: 0.375rem;">&larr;</span><span>{{- .Title -}}</span></a>
    {{- end -}}
    {{- with $pages.Next . -}}
    <a
      style="display: flex; align-items: center; justify-content: flex-end; padding: 1.25rem; text-decoration: none; flex: 1; margin-left: auto;"
      href="{{- .Permalink -}}"
    ><span>{{- .Title -}}</span><span style="margin-left: 0.375rem;">&rarr;</span></a>
    {{- end -}}
  </nav>
  {{- end -}}
</article>

{{- end -}}
